/ the meat and potatoes
!= "<ol class=\"semantic-list post {block:IndexPage} posts{/block:IndexPage}\">"
{block:Posts}
%li.item
  = render "views/post_types/_photo"
  = render "views/post_types/_photoset"
  = render "views/post_types/_video"
  = render "views/post_types/_audio"
  = render "views/post_types/_text"
  = render "views/post_types/_quote"
  = render "views/post_types/_link"
  = render "views/post_types/_chat"
  = render "views/post_types/_answer"
  {block:HasTags}
  %ul.tags
    {block:Tags}
    %li
      %a{ :href=>"{TagURL}"} {Tag}
    {/block:Tags}
  {/block:HasTags}
  %a.permalink.ss-link{:href=>"{Permalink}"} Page link
  // TODO add read more
{/block:Posts}
!= "</ol>"

%footer
  {block:Pagination}
  {block:PreviousPage}
  %a{ :href=>"{PreviousPage}"} &#171; Previous
  {/block:PreviousPage}

  {block:NextPage}
  %a{ :href=>"{NextPage}"} Next &#187;
  {/block:NextPage}
  {/block:Pagination}
