
/ Search forms
= render "views/search/_form"
= render "views/search/_results"

/ the meat and potatoes
%section#posts
{block:Posts}
%ol.posts
  %li
    = render "views/post_types/_photo"
  %li
    = render "views/post_types/_photoset"
  %li
    = render "views/post_types/_video"
  %li
    = render "views/post_types/_audio"
  %li
    = render "views/post_types/_text"
  %li
    = render "views/post_types/_quote"
  %li
    = render "views/post_types/_link"
  %li
    = render "views/post_types/_chat"
  %li
    = render "views/post_types/_answer"
{/block:Posts}