/ the meat and potatoes
!= "<ol class=\"semantic-list post {block:IndexPage} posts{/block:IndexPage}\">"
{block:Posts}
%li.item
  = render "views/post_types/_photo"
  = render "views/post_types/_photoset"
  = render "views/post_types/_video"
  = render "views/post_types/_audio"
  = render "views/post_types/_text"
  = render "views/post_types/_quote"
  = render "views/post_types/_link"
  = render "views/post_types/_chat"
  = render "views/post_types/_answer"
  {block:HasTags}
  %ul.tags
    {block:Tags}
    %li
      %a{ :href=>"{TagURL}"} {Tag}
    {/block:Tags}
  {/block:HasTags}
  %ul.social.semantic-list
    %li
      %a.permalink.ss-link{:href=>"{ShortURL}"} {ShortURL}
    %li
      %a{ :href=>"http://www.facebook.com/sharer.php?u={URLEncodedPermalink}", :class=>"socialite facebook-like", :data=> {:href=>"{URLEncodedPermalink}", :send=>"false", :layout=>"button_count", :width=>"60", :"show-faces"=>"false"}, :rel=>"nofollow", :target=>"_blank"}  Share on Facebook
    %li
      %a{ :href=>"http://twitter.com/share", :class=>"socialite twitter-share", :data=> {:url=>"{URLEncodedPermalink}", :count=>"none", :via=>"zoewithdots"}, :rel=>"nofollow", :target=>"_blank"} Share on Twitter
    
// TODO add read more
{/block:Posts}
!= "</ol>"

