
/ Search forms
= render "views/search/_form"
= render "views/search/_results"

/ the meat and potatoes
%section#posts
{block:Posts}
= render "views/post_types/_photo"
= render "views/post_types/_photoset"
= render "views/post_types/_video"
= render "views/post_types/_audio"
= render "views/post_types/_text"
= render "views/post_types/_quote"
= render "views/post_types/_link"
= render "views/post_types/_chat"
= render "views/post_types/_answer"
{/block:Posts}